h1 {
    color: #1e3457;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    background-color: #e1ebfc;
}

h2 { 
    color:#171e2b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

p {
    color: black;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    font-size: 15px;
}

#quote {
    color: black;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    font-size: 15px;
    font-style: italic;
}